.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
}

.contact-link:nth-child(3n + 1) {
  margin-right: auto;
}

.contact-link:nth-child(3n + 2) {
  margin: 0 auto;
}

.contact-link:nth-child(3n + 3) {
  margin-left: auto;
}

.contact-links li {
  flex-basis: calc(33.33% - 2rem);
  margin: 0 1rem;
}

.contact-links li a {
  display: block;
  text-align: center;
}
